{
	"prompt": "Swiffer> ",
	"port": 1337,
	"staticRoot": "/public/",
	"privateKey": "secret",

	"restartTime": 5,
	"modules": [
		"exception",
		"route",
        "session",
        "event"
	],

	"database": "redis"
}