<div class="panel-heading">
    <div class="list-group-item-heading">
        <div class="clearfix">
            <div class="pull-left">
                <h4>
                    <span class="label label-primary">{{time}}ms</span>
                    <span class="label label-default">{{code}}</span>
                    {{url}}
                </h4>
            </div>
        </div>
    </div>
</div>

