<div class="panel-heading">
    <h4 class="list-group-item-heading">
        <div class="clearfix">
            {{id}}
            {{#if active}}
                <span class="label label-success">ACTIVE</span>
            {{else}}
                <span class="label label-danger">CLOSED</span>
            {{/if}}
            <span class="label label-info">{{duration}}</span>
        </div>
    </h4>
</div>
<div class="panel-body">
    TODO: session info
</div>